# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Secrets and environment config
secrets.py
.env
.streamlit/secrets.toml


# OS-specific files
.DS_Store

# IDE/project files (optional)
.idea/
.vscode/

# PEP 582 packages directory (optional)
__pypackages__/
